:root {
    font-size: 16px;

.footer{
    max-width: var(--max-width-block);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
    background-color: var(--color-background);
    padding: var(--padding-l);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo__nome {
    text-transform: uppercase;
    font-size: var(--font-size-m);
    color: var(--color-neutra-medium-light);
    letter-spacing: 1px;
    font-weight: var(--font-weight-bold);
}

.footer__texto {
    font-size: var(--font-size-b);
    color: var(--color-neutra-medium);
    letter-spacing: 0.5px;
    font-weight: var(--font-weight-bold);
}

.footer__icons {
    display: flex;
    gap: var(--gap-m);
}

.footer__container__column,
.footer__container__column-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__container__column {
    gap: var(--gap-m);
}

.footer__list {
    display: flex;
    align-items: center;
    gap: var(--gap-m);
    text-align: center;
}

.footer__link {
    color: var(--color-neutra-light);
}

.footer__container__line {
    text-align: center;
}

.footer__atualizacao {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.25rem;
    padding: var(--padding-xs);
    text-decoration: none;
    border: 0.5px solid var(--color-neutra-medium);
    border-radius: 200px;
    color: var(--color-neutra-medium);
    width: 90%;
}

.footer__small {
    color: var(--color-neutra-light);
    font-size: var(--font-size-b);
}

}